<html>
<head>
    <link rel="stylesheet" href="css/style.css">
    <title>List Buku</title>
</head>
<body>
<header>
    <a class="header-logo">List Buku</a>
</header>
<div class="container">
    <div class="container-header">
        <h1>Daftar Buku</h1>
        <a href="/tambah-buku" class="new-button">+ Tambahkan</a>
    </div>
    <div class="table-wrapper">
        <div class="table-head">
            <span class="id-column">ID</span>
            <span class="name-column">Nama Buku</span>
        </div>
        <ul class="table-body">
            <% dataBuku.forEach((item) => { %>
                <li>
                    <span class="id-column"><%= item.id_buku %></span>
                    <span class="name-column"><%= item.nama_buku %></span>
                </li>
            <% }); %>
        </ul>
    </div>
</div>
</body>
</html>