body {
  font-family: "Avenir Next";
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.item-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}

.card {
  text-align: center;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  padding: 1em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

img {
  height: 100px;
  width: auto;
}

.product-container {
  display: flex;
  justify-content: space-evenly;
  padding: 6em 6em 2.5em 6em;
  gap: 6em;
}

.prod-image {
  width: 300px;
  height: auto;
}

.brand {
  text-align: left;
}

.back {
  text-align: center;
  margin-bottom: 2em;
}

.btn {
  background-color: #04aa6d;
  border-color: #04aa6d;
  color: #fff;
  padding: 10px 25px;
  border-radius: 6px;
}

.btn:hover {
  background-color: #038555ff;
}

a {
  text-decoration: none;
}
